<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
    <!-- <link rel="stylesheet" href="../../Css/styles.css"> -->

    <title>Tutorial Website</title>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center w-screen">
    <%- include('_nav_bar') %>
    <div class="container mx-auto px-4 py-8 flex flex-col items-center">
        <h1 class="mb-1 text-3xl font-bold"><%= tutorial.title %></h1>
        <div class="text-gray-500 mb-2">
            <%= tutorial.createdAt.toLocaleDateString() %>
        </div>
        <div class="mb-3 flex space-x-2">
            <a href="/" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:focus:ring-yellow-900">All Tutorials</a>
            <% if (user && tutorial.user.equals(user._id)) { %>
                <a href="/tutorials/edit/<%= tutorial.id %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</a>
            <% } %>
        </div>
        <div class="max-w-full md:max-w-2xl p-6 bg-white border border-gray-200 rounded-lg shadow-2xl">
            <%- tutorial.sanatizedHtml %>
        </div>
    </div>
    <script src="https://unpkg.com/flowbite@1.6.4/dist/flowbite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
            const button = document.createElement('button');
            button.innerHTML = `
                 <svg class="w-6 h-6 dark:text-white inline-block mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-6 5h6m-6 4h6M10 3v4h4V3h-4Z"/>
                </svg>
                `;
            button.className = 'copy-button text-sm bg-gray-800 text-white py-1 px-2 rounded-md focus:outline-none';
            block.parentNode.insertBefore(button, block);
        });

        new ClipboardJS('.copy-button', {
            target: function(trigger) {
                return trigger.nextElementSibling;
            }
        });
    });
    </script>
    <style>
        pre {
        background-color: #1a202c; /* Dark background color */
        padding: 16px; /* Padding for code block */
        border-radius: 8px; /* Rounded corners */
        overflow-x: auto; /* Allow horizontal scroll for long lines */
        position: relative; /* Ensure position context for absolute positioning */
        margin: 16px 0; /* Adjust margin for spacing */
    }

    code {
        display: block; /* Ensure code is displayed as block */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        overflow-wrap: break-word; /* Wrap long lines */
    }

    .copy-button {
        position: absolute; /* Position the button absolutely */
        top: 8px; /* Adjust top spacing */
        right: 8px; /* Adjust right spacing */
        z-index: 1; /* Ensure button appears above the code block */
        background-color: rgba(0, 0, 0, 0); /* Semi-transparent background color */
        padding: 4px 8px; /* Padding for the button */
        border-radius: 4px; /* Rounded corners */
        transition: background-color 0.3s ease; /* Smooth transition for background color */
    }

    .copy-button:hover {
        background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
    }
    </style>
</body>
</html>
