<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
    <!-- <link rel="stylesheet" href="../../Css/styles.css"> -->

    <title>Tutorial Website</title>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col items-center w-screen">
    <%- include('_nav_bar') %>
    <div class="container mx-auto px-4 py-8 flex flex-col items-center">
        <h1 class="mb-1 text-3xl font-bold"><%= tutorial.title %></h1>
        <div class="text-gray-500 mb-2">
            <%= tutorial.createdAt.toLocaleDateString() %>
        </div>
        <div class="mb-3 flex space-x-2">
            <a href="/" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:focus:ring-yellow-900">All Tutorials</a>
            <% if (user && tutorial.user.equals(user._id)) { %>
                <a href="/tutorials/edit/<%= tutorial.id %>" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Edit</a>
            <% } %>
        </div>
        <div class="max-w-full md:max-w-2xl p-6 bg-white border border-gray-200 rounded-lg shadow-2xl min-w-[350px]">
            <%- tutorial.sanatizedHtml %>
        </div>
    </div>
    <script src="https://unpkg.com/flowbite@1.6.4/dist/flowbite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
            const button = document.createElement('button');
            button.innerHTML = `
                 <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-copy js-clipboard-copy-icon">
            <path fill="white" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path><path fill="white" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
            </svg>
                `;
            button.className = 'copy-button text-sm bg-gray-800 text-white py-1 px-2 rounded-md focus:outline-none flex';
            block.parentNode.insertBefore(button, block);
        });

        new ClipboardJS('.copy-button', {
            target: function(trigger) {
                return trigger.nextElementSibling;
            }
        });
    });
    </script>
    <style>
        pre {
        background-color: #161b22; 
        color: white;
        padding: 16px; 
        border-radius: 8px; 
        overflow-x: auto; 
        position: relative; 
        margin: 16px 0; 
    }

    code {
        display: block; 
        padding: 0; 
        margin: 0; 
        overflow-wrap: break-word; 
    }

    .copy-button {
        position: absolute; 
        top: 8px; 
        right: 8px; 
        z-index: 1; 
        background-color: #161b22; 
        color: #8d96a0;
        padding: 4px 8px; 
        border-radius: 4px; 
        transition: background-color 0.3s ease;
    }


    .copy-button:hover {
        background-color: rgba(14, 13, 13, 0.7); /* Darker background on hover */
    }
    </style>
</body>
</html>
